{% include 'header.html' %}

<div class="content-wrapper">
  <div class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-lg-12">
            <div class="card card-navy card-outline">
                  <br><h4 align="center"><font color="navy" face="arial"> IMPLEMENTASI ALGORITMA K-NEAREST NEIGHBOR DAN DECISION TREE <br> UNTUK ANALISIS SENTIMEN KOMENTAR PUBLIK TERHADAP KEBIJAKAN PEMERINTAH INDONESIA DALAM MENANGANI KASUS COVID-19
                   </font></h4>
                   <a class="nav-link" data-widget="pushmenu" href="#" role="button"><i class="fas fa-bars"></i></a>
                  <!-- <h8 align="center"><font face="arial" color="grey">(Studi Kasus : BTS sebagai Brand Ambassador Tokopedia)</font></h8> -->
                <!-- <br></br> -->
                <p align="center">
                  <img src="{{ url_for('static', filename='dist/img/cv4.jpeg') }}" width="580">
                </p>
          </div>
        </div>
        </div>
      </div>
  </div>
</div>
<aside class="control-sidebar control-sidebar-dark">
</aside>
<!-- /.content-wrapper -->
{% include 'footer.html' %}
