{% include 'header.html' %}
{% extends "layouts.html" %}
{% block body %}
<div class="content-wrapper">
  <div class="content-header">
    <div class="container-fluid">
      <div class="row mb-8">
      </div>
    </div>
  </div>
  <section class="content">
    <div class="container-fluid">
      <div class="row">
        <div class="col-12 col-sm-6 col-md-4">
      </div>
    </div>
    <div class="content">
        <div class="container">
          <div class="row">
            <div class="col-lg-12">
              <div class="card card-navy card-outline">
                <div class="card-body">
                    <h3 align="center"><font color="navy" face="arial"> Hasil Pengujian K-Nearest Neighbor </font></h3>
                  <div class="card-footer clearfix">
          <table id="example" class="table table-bordered"  style="width:500%">
            <thead> 
              <tr>
                <th style="width: 10%;">No.</th>
                <th style="width: 10%;">Nilai K</th>
                <th style="width: 10%;">Jumlah Dataset</th>
                <th style="width: 10%;">Data Latih</th>
                <th style="width: 80%;">Data Uji</th>
                <th style="width: 13%;">Akurasi</th>
                <th style="width: 13%;">Presisi</th>
                <th style="width: 13%;">Recall</th>
                <th style="width: 13%;">Aksi</th>
              </tr>
            </thead>
        
          <tbody>
            {% for row in rows %}
              <tr>
                <td>{{ loop.index }}</td>
                <td>{{row[1]}}</td>
                <td>{{row[2]}}</td>
                <td>{{row[3]}}</td>
                <td>{{row[4]}}</td>
                <td>{{row[5]}}</td>
                <td>{{row[6]}}</td>
                <td>{{row[7]}}</td>
                <td width="130">
                  <a href="http://localhost:5000/delete_score_knn/{{row[0]}}" class="btn btn-danger btn-delete btn-sm">delete</a>
                </td>
              </tr>
            {% endfor %}
          </tbody>
      </table>
    </div>
  </div>
</div>
 
{% endblock %}
{% include 'footer.html' %}