{% include 'base.html' %}
<div class="content-wrapper">
  <div class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-lg-12">
            <div class="card card-navy card-outline">
                  <br><h4 align="center"><font color="navy" face="arial"> SISTEM ANALISIS SENTIMEN KOMENTAR PUBLIK TERHADAP KEBIJAKAN PEMERINTAH INDONESIA DALAM PENANGANAN KASUS COVID-19 MEMNGGUNAKAN METODE K-NEAREST NEIGHBOR DAN DECISION TREE
                   </font></h4>
                   <a class="nav-link" data-widget="pushmenu" href="#" role="button"><i class="fas fa-bars"></i></a>
                <p align="center">
                  <img src="{{ url_for('static', filename='dist/img/cv4.jpeg') }}" width="580">
                </p>
          </div>
        </div>
        </div>
      </div>
  </div>
</div>
<aside class="control-sidebar control-sidebar-dark">
</aside>
{% include 'footer.html' %}
